:root{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    color: var(--neutra);
    --fundodark: #111B21;
    --neutra: #DBE0E2;
    --neutra2: #dbe0e26e;
    --fundo2: #8696A0;
    --cor1:#128C7E;
    --cor1dark:#075E54;
    --cor2:#25D366;
    --cor3:#34B7F1;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: var(--fundodark);
}
header{
    background:var(--cor1dark);
    color: var(--neutra);
    height: auto;
    font-size: 1.5rem;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.opcoes-nova-conversa{
   display: none;
}
.opcoes-nova-conversa.ativo{
   background: var(--fundodark);
   border: 1px solid var(--neutra2);
   display: flex;
   flex-direction: column;
   width: 40%;
   position: absolute;
   padding: 2%;
   right: 0;
   animation: mostrarOpcoes .5s forwards;
}
@keyframes mostrarOpcoes{
   from{
      filter: opacity(0);
   }
   to{
      filter: opacity(1);
   }
}
ul li{
   margin: 7% 0;
}
.wrapper{
    width: 100%;
    height: 90vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.wrapper .section-start-chat{
   text-align: center;
}
.wrapper .section-start-chat p{
   color: var(--neutra);
   font-size: 1.25rem;
   word-break: keep-all;
   margin: 0 0 5% 0;
}
.txt-numero,
.btn-iniciar{
    width: 80%;
    color: var(--neutra);
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
}
.txt-numero{
    background: var(--fundodark);
    border: 1px solid var(--fundo2);
    height: 3.25rem;
    margin: 0 0 2% 0;
    padding: 5%;
    outline: 0;
}
.txt-numero::placeholder{
    color: var(--fundo2);
}
.btn-iniciar{
    text-decoration: none;
    background: var(--cor1dark);
    color: var(--neutra);
    border: 0;
    height: 2.5rem;
}
nav{
   font-size: 1.75rem;
   color: var(--neutra);
   height: 50px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: var(--cor1dark);
   position: fixed;
   z-index: -1;
   bottom: 0;
}