:root{
    font-size: 15px;
    --fundodark: #111B21;
    --neutra: #DBE0E2;
    --fundo2: #8696A0;
    --cor1:#128C7E;
    --cor1dark:#075E54;
    --cor2:#25D366;
    --cor3:#34B7F1;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: var(--fundodark);
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: #075E54;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt-number,
.btn-iniciar{
    width: 80%;
    color: var(--neutra);
    font-size: 1.5rem;
}
.txt-number{
    background: var(--fundodark);
    border: 1px solid var(--fundo2);
    height: 3.25rem;
    margin: 0 0 2% 0;
    padding: 5%;
    outline: 0;
}
.btn-iniciar{
    background: var(--cor2);
    color: var(--neutra);
    border: 0;
    height: 2.5rem;
}